
<% if(rs.length > 0) { %>
<h1>Party Title</h1>
Title: <%= rs[0].title %>
<br />

<h1>Party Info</h1>
<table border="1">
    <tr><th>Number of Guests</th><th>Party Start</th><th>Party End</th><th>Host</th></tr>
    <td><center><%= rs[0].num_guests %></center></td><td><%= rs[0].party_start %>:00</td><td><%= rs[0].party_end %>:00</td>
    <% if(users_results.length > 0) { %>
    <% users_results.forEach(function(entry) { %>
    <% if(entry.user_id == rs[0].host_id) { %>
    <td><a href="/users/?user_id=<%= entry.user_id %>"><%= entry.firstname %>&nbsp;<%= entry.lastname %> </a></td>
    <% } %>
    <%}); %>
    <% } %>
</table>
<table border="1">
    <tr><th>Current List of Guests (Signed Up To PartyUP)</th></tr>

    <%  if(party_results.length > 0) { %>
    <%  party_results.forEach(function(partyentry) { %>
<%  if(users_results.length > 0) { %>
<%  users_results.forEach(function(entry) { %>
    <% if(entry.user_id == partyentry.user_id) { %>
    <td><a href="/users/?user_id=<%= entry.user_id %>"><%= entry.firstname %>&nbsp;<%= entry.lastname %> </a></td>
    <% } %>
    <%}); %>
    <% } else { %>
    No users are currently signed up to this party and have data in our database! Sorry!
    <% } %>
    <%}); %>
    <% } %>
</table>
<% } else { %>
No party matched this party ID! Sorry! <%= party_id %>.
<% } %>